{% if key %}
<p>User {{username}}</p>
<p>Here you go:</p>
<p>Config {{key}}</p>
<form action="wireguard/download" method="post">
  <input name="username" type="hidden" value="{{username}}" />
  <input name="token" type="hidden" value="{{token}}" />
  <input type="submit" value="Download" />
</form>
{% else %}
<p>Get wireguard config</p>
<form action="wireguard" method="post">
  <p>Token:</p>
  <input name="token" />
  <p>Username (has to be unique)</p>
  <input name="username" />
  <p>Ok?</p>
  <input type="submit" value="submit" />
</form>
{% endif %}
